{% extends 'base.html' %}
{% block title %}Password Change{% endblock %}

{% block content %}
<div class='row text-center vertical-middle-sm'>
    <h1>修改密码</h1>
    <form class='form-horizontal' action='.' method='post'>{% csrf_token %}
        <div form='form-group'>
            <label class='col-md-5 control-label text-right'>旧密码：</label>
            <div class='col-md-6 text-left'>{{ form.old_password }}</div>
        </div>
        <div form='form-group'>
            <label class='col-md-5 control-label text-right'>新密码：</label>
            <div class='col-md-6 text-left'>{{ form.new_password1 }}</div>
        </div>
        <div form='form-group'>
            <label class='col-md-5 control-label text-right'>确认新密码：</label>
            <div class='col-md-6 text-left'>{{ form.new_password2 }}</div>
        </div>
        <input type='submit' class='btn btn-primary btn-lg' value="修改密码">
    </form>
</div>
{% endblock %}